*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #2a2537;
  color: #ddeae1;
}

/* typography and icons */

h1 {
  color: #fdddb4;
  margin-bottom: 10px;
  font-size: 20px;
}

i {
  font-size: 15px;
  cursor: pointer;
}

.fa-solid {
  color: #999;
}

.liked {
  color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main,
header {
  width: 290px;
  margin: 0 auto;
}

header {
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* textareas + btn */

textarea {
  border: none;
  resize: none;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  background-color: #2a2537;
  color: #ddeae1;
}

button {
  background-color: #6c638b;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
button:hover {
  background-color: #b5a0a0;
  color: #342e41;
}
/* tweet */

.tweet {
  border-top: 1px solid #a5a7b6;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

.tweet-inner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.tweet-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 160px;
}

.tweet-detail {
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.tweet-reply {
  /* border-top: 1px solid lightgray; */
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.reply-input {
  margin-top: 0.4em;
  display: flex;
  flex-direction: column;
}
.reply-input input {
  /* align-self: flex-end; */
  margin-left: auto;
  border: none;
  padding: 10px;
  height: 60px;
  width: 80%;
  font-size: 20px;
  line-height: 30px;
  background-color: #2a2537;
  color: #ddeae1;
  margin-top: 1em;
  margin-left: 2em;
}
.btn-reply {
  margin-left: 8em;
  margin-top: 0.5em;
  background-color: #6c638b;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 40%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.btn-reply:hover {
  background-color: #b5a0a0;
  color: #342e41;
}
.handle {
  font-size: 12px;
  font-weight: 500;
  color: #a5a7b6;
  margin: 0;
  display: inline;
}

.tweet-text {
  width: 207px;
  font-size: 14px;
  line-height: 20px;
}

/* images */
.logo {
  border: 5px solid #342e41;
  border-radius: 50%;
  width: 48px;
}
.profile-pic {
  border: 10px solid #342e41;
  border-radius: 50%;
  width: 48px;
}

/* utility */
.handle-div {
  display: flex;
  align-items: baseline;
}
.hidden {
  display: none;
}
#delete-btn {
  display: block;
  background-color: #6c638b;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  margin-left: auto;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

#delete-btn:hover,
#delete-btn:focus {
  background-color: tomato;
}

.no-data-heading {
  margin-top: 3em;
  text-align: center;
  letter-spacing: 7px;
  font-style: oblique;
  line-height: 1.6;
  text-transform: uppercase;
  animation: bounce 2s infinite, colorChange 5s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes colorChange {
  0% {
    color: #fdddb4;
  }
  25% {
    color: #ddeae1;
  }
  50% {
    color: #6666ff;
  }
  75% {
    color: #b5a0a0;
  }
  100% {
    color: #fdddb4;
  }
}
@media (min-width: 500px) {
  main,
  header {
    width: 720px;
    margin: 0 auto;
  }
  .tweet-inner {
    margin: 15px auto;
  }
  .tweet-text {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .tweet-detail {
    font-size: 1.2rem;
    align-items: center;
  }
  .tweet-details {
    width: 190px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .handle-div {
    width: 650px;
  }

  .btn-reply {
    margin-left: auto;
    width: 20%;
  }
  .reply-input {
    margin-top: 0;
    width: 98%;
  }
  .reply-input input {
    width: 95%;
    margin-left: auto;
  }
}
